@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono');
body {
    font-family: 'Raleway';
    background: #34455b;
    color: #ffffff;
}
a {
    color: #20c995;
    text-decoration: none;
}
a:hover {
    color: #20c995;
    text-decoration: underline;
}
.avatar {
    width: 300px;
    height: 250px;
}
.card {
    border: none;
    background: transparent;
}
.card-header {
    font-family: 'Roboto Mono';
    font-size: 20px;
    color: #20c995; 
}
.row {
    margin-top: 50px;
}
.social-media {
    margin-top: 30px;
}
.social-media > a {
    font-size: 40px;
    padding: 20px;
}
.table > tbody > tr > td {
    border: none;
}
.list-group-item {
    background: transparent;
    border: none;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
i.fa.organization, i.fa.achievements {
    font-size: 100px;
}
i.fa.achievements {
    margin-top: 200px;
}
i.fa.organization {
    margin-top: 100px
}
.progress {
    height: 10px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background: transparent;
    display: block;
}
.coloring {
    color: #20c995;
}
footer > .row {
    border-top: 2px solid #dee2e6;
}
.slideanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
  0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
  } 
  100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
  }
}
